<div>
  <form #loginInfo="ngForm" novalidate>
    <ow-input
    [type]="'text'"
    [label]="'user id'"
    [value]="user_id"
    [required]="true"
    [placeholder]="'ユーザID'"
    (output)="user_id = $event"
    ></ow-input>
    <ow-input
    [type]="'password'"
    [label]="'passowrd'"
    [value]="password"
    [required]="true"
    [placeholder]="'パスワード'"
    (output)="password = $event"
    ></ow-input>
    <ow-button
    [label]="'login'"
    (clickEvent)="onClick()"></ow-button>
    <ow-button
    [label]="'clear'"
    (clickEvent)="onClear()"></ow-button>
  </form>
</div>
