@import "../../../colors";

:host {
  z-index: 2147483647;
}

nav {
  background-color: $corp-color;
  color: $base-color;
  height: 100vh;
  position: absolute;
  top: 0;
}

ul {
  list-style: none;
}

li {
  margin: 15px 2px;
}

a {
  white-space: nowrap;
}

a > span {
  padding: 0 1rem;
}

.open {
  margin: 20px;
}

span {
  vertical-align: middle;
  white-space: nowrap;
}

div {
  margin-top: 10px;
  vertical-align: middle;
}
