@import "../../../colors.scss";

:host {
  z-index: 2147483647;
}

nav {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: $corp-color;
  color: $base-color;
}

ul {
  list-style:none;
}

li {
  margin: 15px 2px;  
}

a {
  white-space: nowrap;
}

.open {
  margin: 20px;
}

span {
  white-space: nowrap;
}

div {
  vertical-align: middle;
}
