@import "../../../colors.scss";

:host {
  z-index: 2147483647;
}

nav {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: $corp-color;
  color: $base-color;
}

ul {
  list-style:none;
  padding-left: 1.5rem;
  margin: 0px;
}

li {
  padding: 24px 0px; 
}

a {
  white-space: nowrap;
}

a > span {
  padding: 0 1rem;
}

.open {
  margin: 20px;
}

span {
  white-space: nowrap;
  vertical-align: middle;
}

div {
  vertical-align: middle;
  padding: 24px 0px;
  border-bottom: 1px solid #FFF;
}

hr{
  margin: 0;
}